[submodule "backend/seguimiento/oneformer3d"]
	path = preprocesamiento/models/oneformer3d
	url = git@github.com:cristian10gf/oneformer3d.git
	branch = main
[submodule "preprocesamiento/VideoFrameExtractor"]
	path = preprocesamiento/VideoFrameExtractor
	url = git@github.com:cristian10gf/VideoFrameExtractor.git
	branch = main
[submodule "preprocesamiento/models/ace"]
	path = preprocesamiento/models/ace
	url = git@github.com:cristian10gf/ace.git
	branch = main
[submodule "preprocesamiento/models/SLAM3R"]
	path = preprocesamiento/models/SLAM3R
	url = git@github.com:PKU-VCL-3DV/SLAM3R.git
	branch = main
[submodule "preprocesamiento/models/colmap"]
	path = preprocesamiento/models/colmap
	url = git@github.com:cristian10gf/colmap.git
	branch = main
[submodule "preprocesamiento/visualizadores/CloudCompare"]
	path = preprocesamiento/visualizadores/CloudCompare
	url = git@github.com:CloudCompare/CloudCompare.git
	branch = master
